<div class="container mt-4">
    <h3>Carrito de Compras</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.codigo }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.precio | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  